BuildOverPlants/0Harmony.dll
BuildOverPlants/Assembly-CSharp-firstpass.dll
BuildOverPlants/Assembly-CSharp.dll
BuildOverPlants/UnityEngine.CoreModule.dll
BuildOverPlants/UnityEngine.dll
BuildOverPlants/BuildOverPlants/bin/
BuildOverPlants/BuildOverPlants/obj/
BuildOverPlants/BuildOverPlants/.vs/BuildOverPlants.csproj.dtbcache.json
BuildOverPlants/.vs/BuildOverPlants/FileContentIndex/
.vs/slnx.sqlite
